        <div class="widget-group" layout="row"  style="height: 100%" md-colors="{background: 'f2-A100'}">
            <div flex="40" layot-column layout="column" style="min-width: 550px">

                <div flex layout-row layout="row" >
                    <event-list-widget flex layout-column layout="column"></event-list-widget>
                </div>
            </div>
            <div flex layot-column layout="column">
                <div flex="60" layout-row layout="row">
                    <div flex layout-row layout="row" >
                        <google-map-widget flex layout-column layout="column"></google-map-widget>
                    </div>
                </div>

                <div flex="40" layout-row layout="row">
                    <div flex="50" layot-column layout="column" style="/*height: 100%*/">
                        <div flex layout-row layout="row" >
                            <pie-chart-widget flex layout-column layout="column" style="width: 100%"></pie-chart-widget>
                        </div>
                    </div>
                </div>

            </div>
        </div>