<div layout="row" layout-fill flex style="background-color: rgb(45, 50, 62)">
    <md-sidenav md-disable-backdrop flex id="vertical-navigation" class="md-sidenav-left md-whiteframe-z2" ng-class="showTitles ? 'show-titles' : ''" md-component-id="left"
                 layout="column">
        <div flex ng-controller="sidenavMainCtrl"  layout="column">
            <md-toolbar class="md-whiteframe-1dp" style="height: 50px; min-height: 50px">
                <div class="md-toolbar-tools">
                    <h2><span> NGM Dashboard </span></h2>
                    <md-button class="menu left-sidebar-toggler" ng-click="toggleLeft()">
                        <md-icon>menu</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-content flex role="navigation" ss-style-color="{'background-color': 'primary.default'}">
                <ss-sidenav flex menu="menu"></ss-sidenav>
            </md-content>
            <!--<span flex></span>-->

        </div>

    </md-sidenav>
    <div style="overflow-y: hidden" id="main-content-area-wrapper" flex layout="column">
        <md-toolbar id="top-toolbar" class="md-whiteframe-z2"  md-colors="{background: 'grey-50'}" style="z-index: 10; height: 50px; min-height: 50px">
            <div class="md-toolbar-tools">
                <h2 style="padding-right: 14px" >
                    <span class="md-title" md-colors="f2-50" ng-repeat="state_path in current_state_path" ng-if="state_path.title != ''">
                        {{state_path.title}} {{$last ? '' : state_path.title ? '>' : ''}}
                    </span>
                </h2>
                <span flex></span>
                <div class="account-box" ng-class="{'expanded': accountBoxExpanded}" ng-click="toggleAccountBoxExpansion()">
                    <div class="account-box-content">
                        <div class="toolbar-separator"></div>
                        <md-button class="md-icon-button">
                            <md-icon style="color: #727272">account_circle</md-icon>
                        </md-button>
                        <h2 style="padding-right: 14px" >
                            <span class="md-title" style="color: dimgray">
                                Role : {{userProfile.role}}
                            </span>
                        </h2>
                    </div>
                </div>
                <div class="toolbar-separator"></div>
                <md-button class="md-icon-button" ng-click="signout()">
                    <md-icon style="color: dimgray">power_settings_new</md-icon>
                    <md-tooltip md-direction="top">Log out</md-tooltip>
                </md-button>
            </div>
        </md-toolbar>


        <md-content id="devices-page-container" flex layout-fill layout="row">
            <md-content style="overflow-y: hidden" layout-fill layout="column" class="content-bar-area">
                <md-toolbar class="md-accent page-caption-area">
                    <div class="page-caption-area-bg">
                        <div class="sheet">
                            <div class="sheet">
                                <div class="sheet">
                                    <div class="sheet"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="md-toolbar-tools">
                        <h2>
                            <span>{{current_state_title}}</span>
                        </h2>
                    </div>
                </md-toolbar>

                <md-content layout-fill id="page-content-container" ui-view role="main" md-colors="{background: 'f2-A100'}"></md-content>

            </md-content>
            <device-list-side-nav ng-if="$state.current.rightSideNav" class="layout-column"></device-list-side-nav>

        </md-content>



    </div>
</div>